[submodule "third_party/Depth-Anything-3"]
	path = third_party/Depth-Anything-3
	url = https://github.com/ByteDance-Seed/Depth-Anything-3.git

[submodule "third_party/LIBERO"]
	path = third_party/LIBERO
	url = https://github.com/Lifelong-Robot-Learning/LIBERO.git

[submodule "third_party/RoboTwin"]
	path = third_party/RoboTwin
	url = https://github.com/RoboTwin-Platform/RoboTwin.git
